---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import MyBalance from "@/sections/MyBalance.astro";
import UpcomingBills from "@/sections/UpcomingBills.astro";
import Transactions from "@/sections/Transactions.astro";
import { setSession } from "@/services/auth.service";
import MoneySelector from "@/components/MoneySelector.astro";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/");
}

const { data, error } = await setSession(refreshToken.value, accessToken.value);
if (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/");
}

const user = {
  name: data.user?.user_metadata.name,
  avatar: data.user?.user_metadata.avatar_url,
};
---

<DashboardLayout title="Dashboard | Finance Tracker">
  <div class="h-full">
    <div class="container mx-auto px-4">
      <!-- Header -->
      <header class="flex items-center justify-between py-6">
        <div class="flex items-center gap-3">
          <img
            src={user.avatar}
            alt="Profile picture"
            class="h-12 w-12 rounded-full object-cover"
          />
          <h1 class="text-xl text-white">Hi, {user.name}!</h1>
        </div>
        <div class="flex gap-4">
          <a
            href="/api/auth/signout"
            class="rounded-full border p-2 text-white"
          >
            <svg class="h-6 w-6" width="24" height="24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="1.5"
                ><path
                  d="M9.002 7c.012-2.175.109-3.353.877-4.121C10.758 2 12.172 2 15 2h1c2.829 0 4.243 0 5.122.879C22 3.757 22 5.172 22 8v8c0 2.828 0 4.243-.878 5.121C20.242 22 18.829 22 16 22h-1c-2.828 0-4.242 0-5.121-.879-.768-.768-.865-1.946-.877-4.121"
                ></path><path
                  stroke-linejoin="round"
                  d="M15 12H2m0 0 3.5-3M2 12l3.5 3"></path></g
              ></svg
            >
          </a>
          <!-- <button class="text-white border rounded-full p-2">
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor">
              <path d="M18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-6 6c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z"/>
            </svg>
          </button> -->
        </div>
      </header>

      <div class="w-full overflow-hidden">
        <!-- Navigation Tabs -->
        <nav class="mb-8 flex items-center justify-between">
          <ul class="flex items-center gap-6 text-sm leading-none text-white">
            <li class="font-medium">
              <a href="#slide-1" class="opacity-100">My Balance </a>
            </li>
            <li class="">
              <a href="#slide-2" class="opacity-50">Upcoming Bills </a>
            </li>
            <li class="">
              <a href="#slide-3" class="opacity-50">Transactions </a>
            </li>
          </ul>
          <MoneySelector />
        </nav>

        <div class="slides">
          <div id="slide-1">
            <MyBalance />
          </div>
          <div id="slide-2">
            <UpcomingBills />
          </div>
          <div id="slide-3">
            <Transactions />
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .slides {
      display: flex;

      overflow-x: hidden;
      scroll-snap-type: x mandatory;

      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .slides > div {
      scroll-snap-align: center;
      flex-shrink: 0;
      width: 100%;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      /* max-height: 80dvh; */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  </style>
</DashboardLayout>
<script>
  import { navigate } from "astro:transitions/client";
  import { $$ } from "@/lib/selector";
  document.addEventListener("astro:page-load", () => {
    const anchors: NodeListOf<HTMLAnchorElement> = $$("a");
    anchors.forEach((anchor) => {
      anchor.addEventListener("click", (e) => {
        anchors.forEach((anchor) => {
          anchor.classList.remove("opacity-100");
          anchor.classList.add("opacity-50");
        });
        anchor.classList.remove("opacity-50");
        anchor.classList.add("opacity-100");
      });
    });

    console.log("astro:page-load", window.location.hash);
    if (window.location.hash) {
      const anchor = $$("a[href='" + window.location.hash + "']")[0];
      anchor.click();
    }
  });
</script>
