---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import MyBalance from "@/sections/MyBalance.astro";
import UpcomingBills from "@/sections/UpcomingBills.astro";
import Transactions from "@/sections/Transactions.astro";
import { setSession } from "@/services/auth.service";
import MoneySelector from "@/components/MoneySelector.astro";
import UserAvatar from "@/components/UserAvatar.astro";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/");
}

const { data, error } = await setSession(refreshToken.value, accessToken.value);
if (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/");
}

const user = {
  name: data.user?.user_metadata.name,
  avatar: data.user?.user_metadata.avatar_url,
};
---

<DashboardLayout title="Dashboard | Finance Tracker">
  <div class="h-full">
    <div class="container mx-auto">
      <!-- Header -->
      <header class="flex items-center justify-between px-4 py-6">
        <div class="flex items-center gap-3">
          <UserAvatar />
          <h1 class="text-xl text-white">Hi, {user.name}!</h1>
        </div>
        <div class="flex gap-4">
          <a
            href="/api/auth/signout"
            class="rounded-full border border-white/90 p-2 text-white"
          >
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M5.616 20q-.691 0-1.153-.462T4 18.384V5.616q0-.691.463-1.153T5.616 4h6.403v1H5.616q-.231 0-.424.192T5 5.616v12.769q0 .23.192.423t.423.192h6.404v1zm10.846-4.461l-.702-.72l2.319-2.319H9.192v-1h8.887l-2.32-2.32l.702-.718L20 12z"
              ></path></svg
            >
          </a>
        </div>
      </header>

      <div class="h-full w-full overflow-hidden">
        <!-- Navigation Tabs -->
        <nav class="mb-8 flex items-center justify-between px-4">
          <ul class="flex items-center gap-6 text-sm leading-none text-white">
            <li class="font-medium">
              <a href="#balance" class="tab opacity-100">My Balance </a>
            </li>
            <li class="">
              <a href="#income" class="tab opacity-50">Incoming Bills </a>
            </li>
            <li class="">
              <a href="#transactions" class="tab opacity-50">Transactions </a>
            </li>
          </ul>
          <MoneySelector />
        </nav>

        <div class="slides h-full">
          <div id="balance">
            <MyBalance />
          </div>
          <div id="income" class="px-4">
            <UpcomingBills server:defer />
          </div>
          <div id="transactions" class="px-4">
            <Transactions server:defer />
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .slides {
      display: flex;

      overflow-x: hidden;
      scroll-snap-type: x mandatory;

      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .slides > div {
      scroll-snap-align: center;
      flex-shrink: 0;
      width: 100%;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      /* position: relative; */
      /* max-height: 80dvh; */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  </style>
</DashboardLayout>
<script>
  import { navigate } from "astro:transitions/client";
  import { $$ } from "@/lib/selector";
  document.addEventListener("astro:page-load", () => {
    const anchors: NodeListOf<HTMLAnchorElement> = $$("a.tab");
    anchors.forEach((anchor) => {
      anchor.addEventListener("click", (e) => {
        anchors.forEach((anchor) => {
          anchor.classList.remove("opacity-100");
          anchor.classList.add("opacity-50");
        });
        anchor.classList.remove("opacity-50");
        anchor.classList.add("opacity-100");
      });
    });

    console.log("astro:page-load", window.location.hash);
    if (window.location.hash) {
      const anchor = $$("a[href='" + window.location.hash + "']")[0];
      anchor.click();
    }
  });
</script>
