@import "tailwindcss";


@theme {
  --color-primary: #03034a;
  --color-secondary: #BFB7FD;
  --color-tertiary: #151521;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
}