@import "tailwindcss";

@theme {
  --color-primary: #03034a;
  --color-secondary: #BFB7FD;
  --color-tertiary: #151521;
  --color-white: #fff;
  --color-quaternary: #E9E6F7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar las flechas de subir y bajar para inputs tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}