---
interface Props {
  balance: number;
  percentage: number;
}

const { balance, percentage } = Astro.props;
---

<div class="text-white">
  <h2 class="text-4xl font-medium mb-3">Your Balance</h2>
  <div class="flex items-center gap-2">
    <span class="text-3xl font-medium">${balance.toLocaleString()}</span>
    <span class="ml-2 px-2 py-1 bg-emerald-400/20 text-emerald-400 rounded-full text-sm">
      +{percentage}%
    </span>
  </div>
</div> 