---
import { MoneyTypes } from "@/model/money-types.enum";
import { getIncomeCategories } from "@/services/admin.service";
import Select from "./Select.astro";
import Spinner from "./Spinner.astro";

const moneyType = Astro.cookies.get("money")?.value as MoneyTypes;
console.log(moneyType);

const { data: categories, error: categoriesError } =
  await getIncomeCategories();
if (categoriesError) {
  console.error(categoriesError);
}
---

<h2 class="mb-4 text-4xl font-medium text-white">Receive</h2>

<form id="receive-form" class="mb-16 flex flex-col gap-12">
  <div class="flex flex-col gap-8">
    <input type="hidden" name="money" value={moneyType} />
    <Select
      id="receive-form-description"
      name="description"
      categories={categories}
    />
    <input
      type="number"
      name="amount"
      class="mt-2 rounded-lg border-0 p-2 text-center text-4xl text-white placeholder:text-white/30 focus:outline-none"
      placeholder="500.00"
    />
  </div>
  <button
    type="submit"
    class="group bg-quaternary text-tertiary disabled:text-gray mt-8 flex items-center justify-center gap-2 rounded-full px-6 py-3 text-sm font-medium transition-colors hover:cursor-pointer hover:opacity-80 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <span class="hidden items-center gap-2 group-disabled:flex">
      <Spinner class="h-4 w-4" />
    </span>
    Receive
  </button>
</form>

<script>
  import { $ } from "@/lib/selector";
  import { routes } from "@/model/routes";
  import { toast } from "@/services/toast.service";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const form = $("#receive-form") as HTMLFormElement;
    const button = form?.querySelector("button") as HTMLButtonElement;

    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      button.disabled = true;
      const formData = new FormData(form);
      const { data, error } = await actions.saveIncome(formData);
      console.log(error);
      if (error) {
        button.disabled = false;
        const msg = (error as any).issues.map((e: any) => e.message).join(", ");
        toast.showHide(`Error saving income: ${msg}`);
        return;
      }
      navigate(routes.dashboard);
    });
  });
</script>
