---
import ActionButton from "@/components/ActionButton.astro";
import BalanceCard from "@/components/BalanceCard.astro";
import FinancialHealth from "@/components/FinancialHealth.astro";
import TransferList from "@/components/TransferList.astro";
import UserAvatar from "@/components/UserAvatar.astro";
import { MoneyTypes } from "@/model/money-types.enum";
import { getExpenseCategories } from "@/services/admin.service";
import { getBalance } from "@/services/balance.service";

const moneyType =
  (Astro.cookies.get("money")?.value as MoneyTypes) || MoneyTypes.EUR;

const currentDate = new Date();
const startDate = new Date(
  currentDate.getFullYear(),
  currentDate.getMonth(),
  1,
);
const endDate = new Date(
  currentDate.getFullYear(),
  currentDate.getMonth() + 1,
  0,
);
const { data, error } = await getBalance(
  startDate.toISOString(),
  endDate.toISOString(),
  moneyType,
);
if (error) {
  console.error(error);
}
console.log(data);

const balance = data?.incomes - data?.expenses;
const percentage = (balance / data?.incomes) * 100;
---

<section class="h-full px-4">
  <!-- Balance Card -->
  <BalanceCard balance={balance} percentage={percentage} />

  <!-- Action Buttons -->
  <div class="mt-8 flex gap-4">
    <ActionButton text="Pay" icon="send" class="bg-secondary btn-pay" />
    <ActionButton text="Receive" icon="receive" class="bg-quaternary" />
    <ActionButton text="Add" icon="add" class="bg-quaternary" />
  </div>

  <!-- Transfer List -->
  <!-- <div class="mt-12">
    <TransferList />
  </div> -->

  <!-- Financial Health -->
  <div class="mt-12">
    <FinancialHealth />
  </div>
</section>

<style>
  .custom-select {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }
</style>

<script>
  import { $ } from "@/lib/selector";

  const showAside = () => {
    const aside = $("#pay-form");
    aside.classList.remove("top-100");
    aside.classList.remove("bottom-100");
    aside.classList.add("bottom-0");
    aside.classList.add("top-0");
    setTimeout(() => {
      aside.classList.remove("invisible");
      aside.classList.remove("translate-y-full");
    }, 100);
  };

  document.addEventListener("astro:page-load", () => {
    const payButton = $(".btn-pay");

    payButton.addEventListener("click", () => {
      showAside();
    });
  });
</script>
