---
import ActionButton from "@/components/ActionButton.astro";
import BalanceCard from "@/components/BalanceCard.astro";
import FinancialHealth from "@/components/FinancialHealth.astro";
import { MoneyTypes } from "@/model/money-types.enum";
import { getBalance } from "@/services/balance.service";
import { getEndOfMonth, getStartOfMonth } from "@/lib/date";

const moneyType =
  (Astro.cookies.get("money")?.value as MoneyTypes) || MoneyTypes.EUR;

const startDate = getStartOfMonth().toISOString();
const endDate = getEndOfMonth().toISOString();
const { data, error } = await getBalance(startDate, endDate, moneyType);
if (error) {
  console.error(error);
}

const balance = data?.incomes - data?.expenses;
const percentage = (balance / data?.incomes) * 100;
---

<section class="h-full px-4">
  <!-- Balance Card -->
  <BalanceCard
    balance={balance}
    percentage={percentage}
    moneyType={moneyType}
  />

  <!-- Action Buttons -->
  <div class="mt-8 flex gap-4">
    <ActionButton text="Pay" icon="send" class="bg-secondary btn-pay" />
    <ActionButton
      text="Receive"
      icon="receive"
      class="bg-quaternary btn-receive"
    />
    <!-- <ActionButton text="Add" icon="add" class="bg-quaternary" /> -->
  </div>

  <!-- Transfer List -->
  <!-- <div class="mt-12">
    <TransferList />
  </div> -->

  <!-- Financial Health -->
  <div class="mt-12 mb-20">
    <FinancialHealth server:defer>
      <div
        slot="fallback"
        role="status"
        class="flex h-56 max-w-sm animate-pulse items-center justify-center rounded-lg bg-gray-300 dark:bg-gray-700"
      >
        <svg
          class="h-10 w-10 text-gray-200 dark:text-gray-600"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 20"
        >
          <path
            d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"
          ></path>
          <path
            d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM9 13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2Zm4 .382a1 1 0 0 1-1.447.894L10 13v-2l1.553-1.276a1 1 0 0 1 1.447.894v2.764Z"
          ></path>
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </FinancialHealth>
  </div>
</section>

<script>
  import { $ } from "@/lib/selector";

  const showPayAside = () => {
    const aside = $("#pay-drawer");
    aside.classList.remove("top-100");
    aside.classList.remove("bottom-100");
    aside.classList.add("bottom-0");
    aside.classList.add("top-0");
    setTimeout(() => {
      aside.classList.remove("invisible");
      aside.classList.remove("translate-y-full");
    }, 100);
  };

  const showReceiveAside = () => {
    const aside = $("#receive-drawer");
    aside.classList.remove("top-100");
    aside.classList.remove("bottom-100");
    aside.classList.add("bottom-0");
    aside.classList.add("top-0");
    setTimeout(() => {
      aside.classList.remove("invisible");
      aside.classList.remove("translate-y-full");
    }, 100);
  };

  document.addEventListener("astro:page-load", () => {
    const payButton = $(".btn-pay");
    const receiveButton = $(".btn-receive");

    payButton.addEventListener("click", () => {
      showPayAside();
    });

    receiveButton.addEventListener("click", () => {
      showReceiveAside();
    });
  });
</script>
