---
import ActionButton from "@/components/ActionButton.astro";
import BalanceCard from "@/components/BalanceCard.astro";
import FinancialHealth from "@/components/FinancialHealth.astro";
import { MoneyTypes } from "@/model/money-types.enum";
import { getBalance } from "@/services/balance.service";
import { getEndOfMonth, getStartOfMonth } from "@/lib/date";

const moneyType =
  (Astro.cookies.get("money")?.value as MoneyTypes) || MoneyTypes.EUR;

const startDate = getStartOfMonth().toISOString();
const endDate = getEndOfMonth().toISOString();
const { data, error } = await getBalance(startDate, endDate, moneyType);
if (error) {
  console.error(error);
}

const balance = data?.incomes - data?.expenses;
const percentage = (balance / data?.incomes) * 100;
---

<section class="h-full px-4">
  <!-- Balance Card -->
  <BalanceCard
    balance={balance}
    percentage={percentage}
    moneyType={moneyType}
  />

  <!-- Action Buttons -->
  <div class="mt-8 flex gap-4">
    <ActionButton text="Pay" icon="send" class="bg-secondary btn-pay" />
    <ActionButton
      text="Receive"
      icon="receive"
      class="bg-quaternary btn-receive"
    />
    <!-- <ActionButton text="Add" icon="add" class="bg-quaternary" /> -->
  </div>

  <!-- Transfer List -->
  <!-- <div class="mt-12">
    <TransferList />
  </div> -->

  <!-- Financial Health -->
  <div class="mt-12">
    <FinancialHealth server:defer />
  </div>
</section>

<script>
  import { $ } from "@/lib/selector";

  const showPayAside = () => {
    const aside = $("#pay-drawer");
    aside.classList.remove("top-100");
    aside.classList.remove("bottom-100");
    aside.classList.add("bottom-0");
    aside.classList.add("top-0");
    setTimeout(() => {
      aside.classList.remove("invisible");
      aside.classList.remove("translate-y-full");
    }, 100);
  };

  const showReceiveAside = () => {
    const aside = $("#receive-drawer");
    aside.classList.remove("top-100");
    aside.classList.remove("bottom-100");
    aside.classList.add("bottom-0");
    aside.classList.add("top-0");
    setTimeout(() => {
      aside.classList.remove("invisible");
      aside.classList.remove("translate-y-full");
    }, 100);
  };

  document.addEventListener("astro:page-load", () => {
    const payButton = $(".btn-pay");
    const receiveButton = $(".btn-receive");

    payButton.addEventListener("click", () => {
      showPayAside();
    });

    receiveButton.addEventListener("click", () => {
      showReceiveAside();
    });
  });
</script>
