---

import { formatDate, formatMoney } from "@/lib/formatter";
import { getIncomes } from "@/services/incomes.service";

interface Bill {
  id: string;
  name: string;
  amount: number;
  date: string;
  duration: string;
  type: string;
  logo: string;
}

const currentDate = new Date();
const startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
const endDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
const { data, error } = await getIncomes(startDate.toISOString(), endDate.toISOString())

---

<section class="h-full overflow-hidden">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-white text-4xl font-medium mb-3">Upcoming Bills</h2>
    <div class="flex gap-2">
      <button class="w-10 h-10 rounded-full bg-quaternary flex items-center justify-center hover:bg-quaternary/80 transition-colors hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none"><path stroke="#151521" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.5 1v15M1 8.5h15"/></svg>
      </button>
      <button class="w-8 h-8 rounded-full bg-white/5 flex items-center justify-center">
        <svg class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="none">
          <path d="M4 12h2m2 0h2m2 0h2m2 0h2" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
      <button class="w-8 h-8 rounded-full bg-white/5 flex items-center justify-center">
        <svg class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="none">
          <rect x="3" y="3" width="18" height="18" rx="2" stroke="currentColor" stroke-width="2"/>
          <path d="M8 12h8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
  </div>

  <div class="space-y-4 max-h-[75dvh] overflow-y-auto scrollbar-hide pb-14">
    {data?.map(bill => (
      <div class="bg-white/5 rounded-2xl p-4">
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-xl bg-white flex items-center justify-center">
              <img src={`logos/${bill.money}.svg`} alt={bill.money} class="w-6 h-6" />
            </div>
            <div>
              <h3 class="text-white font-medium text-xl capitalize">{bill.description}</h3>
              <p class="text-sm text-gray-400">{formatDate(bill.date)}</p>
            </div>
          </div>
          <span class="text-white font-medium">{formatMoney(bill.cost, bill.money)}</span>
        </div>
        <button class="w-full mt-3 py-2.5 bg-white/5 rounded-xl text-white text-sm hover:bg-white/10 transition-colors">
          Pay now
        </button>
      </div>
    ))}
  </div>
</section> 