---
import Navigation from "@/components/Navigation.astro";
import Layout from "./Layout.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <main class="relative h-dvh max-h-dvh min-h-dvh">
    <slot />
    <!-- Bottom Navigation -->
    <Navigation transition:name="hero" />
  </main>
</Layout>
