---
import Navigation from "@/components/Navigation.astro";
import Layout from "./Layout.astro";
import PayForm from "@/components/PayForm.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <main class="relative">
    <slot />
    <!-- Bottom Navigation -->
    <Navigation transition:name="hero" />
  </main>
  <PayForm />
</Layout>
