---
import Navigation from "@/components/Navigation.astro";
import Layout from "./Layout.astro";
import PayForm from "@/components/PayForm.astro";
import BottomDrawer from "@/components/BottomDrawer.astro";
import ReceiveForm from "@/components/ReceiveForm.astro";
import Toast from "@/components/Toast.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <main class="relative z-0">
    <slot />
    <!-- Bottom Navigation -->
    <Navigation transition:name="hero" />
  </main>
  <BottomDrawer id="pay-drawer">
    <PayForm />
  </BottomDrawer>
  <BottomDrawer id="receive-drawer">
    <ReceiveForm />
  </BottomDrawer>
  <Toast />
</Layout>
